<div
  class="bg-dark border text-light container-fluid modal-dialog-scrollable"
  style="overflow-x: auto; overflow-y: auto"
>
  <div class="modal-header">
    <h4 class="modal-title text-center">
      <u>
        Téléverser un fichier <i class="fas fa-file-upload text-info"></i>
      </u>
    </h4>

    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="activeModal.dismiss('Cross click')"
    >
      <span aria-hidden="true"><i class="fas fa-times text-danger"></i></span>
    </button>
  </div>

  <form [formGroup]="uploadForm" (ngSubmit)="upload()">
    <div class="modal-body" @fade>
      <div class="card border bg-dark shadow-lg rounded m-4">
        <div class="card-header border border-light shadow">
          <div class="flex-row d-flex justify-content-center">
            <h3 class="lead">
              <u> Veuillez remplir le formulaire </u>
            </h3>
          </div>
        </div>
        <div class="row d-flex justify-content-center m-4">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              class="form-control {{
                isFieldTouched('description')
                  ? validateField('description')
                    ? 'is-valid'
                    : 'is-invalid'
                  : ''
              }} border shadow-lg"
              placeholder="Écrire une description du fichier au moins 8 mots"
              formControlName="description"
              id="description"
              rows="3"
            ></textarea>
          </div>
        </div>
        <div class="flex-row m-4">
          <input
            class="form-control {{
              isFieldTouched('fileControl')
                ? validateField('fileControl')
                  ? 'is-valid'
                  : 'is-invalid'
                : ''
            }}"
            (change)="onFileChanged($event)"
            formControlName="fileControl"
            type="file"
            id="picture"
          />
        </div>
      </div>
    </div>

    <div class="modal-footer flex-row d-flex justify-content-center mt-4">
      <div class="flex-row d-flex justify-content-center">
        <button
          [disabled]="isFileNameExist()"
          type="submit"
          class="btn btn-info rounded-pill shadow border text-light"
        >
          TÉLÉVERSER <i class="fas fa-file-upload"></i>
        </button>
      </div>
    </div>
  </form>
</div>
