<app-nav></app-nav>

<div class="container">
  <div class="row">
    <div class="p-5"></div>
    <div class="p-5"></div>
    <mat-divider class="text-light border border-3"></mat-divider>
    <div class="p-4"></div>
    <div
      class="
        row
        d-flex
        justify-content-center
        text-uppercase
        font-weight-bold
        text-light text-center
      "
    >
      <h1 style="font-family: 'Times New Roman', Times, serif" @fade>
        CATALOG <i class="fab fa-accusoft fa-2x"></i>
      </h1>
    </div>
    <div class="p-4"></div>
    <mat-divider class="text-light border border-3"></mat-divider>
    <div class="p-4"></div>
  </div>
</div>

<div class="flex-row">
  <div class="p-4"></div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-2">
      <app-list-patient-folder (folderId)="outputFolderId($event)"></app-list-patient-folder>
    </div>

    <div class="col-8">
      <div class="container-fluid">

        <div class="row d-flex justify-content-center">
          <app-show-patient-folder
          [folderId]="folderId"
          [role]="role"
          >

          </app-show-patient-folder>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="flex-row">
  <div class="p-5"></div>
  <div class="p-5"></div>
</div>
<app-footer class="position-sticky"></app-footer>
