<ngb-accordion
  #acc="ngbAccordion"
  activeIds="ngb-panel-0"
  class="bg-transparent"
>
  <ngb-panel title="{{ file.filename }}" class="text-light">
    <ng-template ngbPanelContent class="bg-transparent">
      <div class="card border border-dark shadow rounded m-4 p-4">
        <div class="card-body">
          <div class="flex-row d-flex justify-content-start">
            <p>
              <u class="text-capitalize"> Filename :</u> {{ file.filename }}
              <i class="fas fa-file"></i>
            </p>
          </div>
          <div
            class="flex-row d-flex justify-content-start"
            *ngFor="let item of file.uploadBy | keyvalue"
          >
            <p>
              <u class="text-capitalize">uploadBy : </u> {{ item.value }}
              <i class="fas fa-cloud-upload-alt"></i>
            </p>
          </div>
          <div class="flex-row d-flex justify-content-start">
            <p>
              <u class="text-capitalize"> uploadDate :</u>
              {{ file.uploadDate | date:'short' }} <i class="fas fa-clock"></i>
            </p>
          </div>
          <div
            *ngIf="file.deactivationDate && role == 'SUDO' "
            class="flex-row d-flex justify-content-start"
          >
            <p>
              <u class="text-capitalize">deactivationDate :</u>
              {{ file.deactivationDate | date:'short' }}
            </p>
          </div>
          <div class="row d-flex justify-content-start">
            <p>
              <u class="text-capitalize">description :</u>
              {{ file.description }} <i class="fas fa-tasks"></i>
            </p>
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
            terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
            skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
            Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
            single-origin coffee nulla assumenda shoreditch et. Nihil anim
            keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
            sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
            occaecat craft beer farm-to-table, raw denim aesthetic synth
            nesciunt you probably haven't heard of them accusamus labore
            sustainable VHS.
          </div>
        </div>
      </div>
      <div class="flex-row d-flex justify-content-center m-3">
        <app-download-file
          [id]="file.id"
          [fileName]="file.filename"
        ></app-download-file>
      </div>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
